<div>
  <div class="row">
    <h1 class="col-lg-12 logo text-center"><img src="../../assets/images/logo_horizontal.png" width="120"></h1>
    <div class="col-md-4 col-sm-1 col-xs-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-4 mb-3 printdown-padding">
      <div class="float-left">
        <a class="sharelink" href="#"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
      </div>
      <div class="float-right">
        <a class="sharelink" href="#"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-1 col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-1 col-xs-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-4 banner " id="header">
      <div class="row">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-xs-12 col-sm-12 col-md-10 text-center">
            <address style="margin-top:20px;">
              <strong class="heading">Barbeque Nation Hospitality Ltd </strong>
              <br>
              <p class="addr">
                Atria Mall , 4th Floor
                Dr. Annie Besent Road, Worli,
                <br>
                Mumbai Maharashtra 400018
                <br>
                <span class="bold">call:</span>080-60600000 / 080-60600001
                <br>
                <span class="bold">T.I.N No </span>- 29470795881
                <br>
                <span class="bold">GSTN</span> - 27AAKCS3053N1ZW: <span class="bold">SAC No.</span> 996331
              </p>
            </address>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="border-dashed"></div>
        <div class="text-center">
          <h3 class="OriginalText">Original For Recipient</h3>
          <div class="border-dashed"></div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-12">
            <p class="RecipientDesc">
              <em><strong>Slip:</strong> 0000AW1000000424</em>
            </p>
            <p class="RecipientDesc">
              <em><strong>Staff:</strong> Cashier Trans: 411</em>
            </p>
            <p class="RecipientDesc">
              <em><strong>Date:</strong> 29-12-18 06:11</em>
            </p>
            <p class="RecipientDesc">
              <em><strong>Table:</strong> 30</em>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="border-dashed"></div>
        <div class="text-center">
          <h4 CLASS="userName">SHADATT HUSAIN</h4>
          <div class="border-dashed"></div>
        </div>
        <!--</span>-->
        <table class="table">
          <thead>
            <tr class="tbHeading col-xs-12 padding">
              <th class="col-xs-9 ">Description</th>
              <th class="col-xs-1 ">QTY</th>
              <th class=" col-xs-1">Rate</th>
              <th class="col-xs-1 ">NET</th>
            </tr>
          </thead>
          <tbody>
            <tr class="col-xs-12 padding">
              <td class="col-xs-9"><em>DINNER NONVE</em></td>
              <td class="co-xs-1">1 </td>
              <td class="col-xs-1">1,014</td>
              <td class="col-xs-1 border-dashed">1,014</td>
            </tr>
            <tr class="col-xs-12 padding">
              <td class="col-xs-9 border-none"><em>Subtotal</em></td>
              <td class="col-xs-1 border-none"> </td>
              <td class="col-xs-1 border-none"></td>
              <td class="col-xs-1 border-none">1,014</td>
            </tr>
            <tr class="col-xs-12 padding">
              <td class="col-xs-9 border-none"><em>SGST(2.5%)</em></td>
              <td class="col-xs-1 border-none"> </td>
              <td class="col-xs-1 border-none"></td>
              <td class="col-xs-1 border-none">25.35</td>
            </tr>
            <tr class="col-xs-12 padding">
              <td class="col-xs-9 border-none"><em>CGST(2.5%)</em></td>
              <td class="col-xs-1 border-none " style="text-align: center"> </td>
              <td class="col-xs-1 border-none"></td>
              <td class="col-xs-1 border-none">25.35</td>
            </tr>
            <tr class="col-xs-12 padding">
              <td class="col-xs-9  "><em>Total</em></td>
              <td class="col-xs-1"> </td>
              <td class="col-xs-1"></td>
              <td class="col-xs-1">1,064.70</td>
            </tr>
            <tr class="col-xs-12 padding">
              <td class="col-xs-9 border-none pd-b-5"><em>vat/gst</em></td>
              <td class="col-xs-1 border-none">base amt</td>
              <td class="col-xs-1 border-none"></td>
              <td class="col-xs-1 border-none">vat/gst Amt</td>
            </tr>
            <tr class="col-xs-12 padding">
              <td class="col-xs-9 border-none"><em>SGST(2.5%)</em></td>
              <td class="col-xs-1 border-none">1,014.00</td>
              <td class="col-xs-1 border-none"></td>
              <td class="col-xs-1 border-none pd-l-10">25.35</td>
            </tr>
            <tr class="col-xs-12 padding">
              <td class="col-xs-9"><em>CGST(2.5%)</em></td>
              <td class="col-xs-1">1,014.00</td>
              <td class="col-xs-1 "></td>
              <td class="col-xs-1 pd-l-10">25.35</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <h3 class="signatureTitle" style="margin-bottom:20px;">Digital Signature</h3>
          <div class="signatureImg">
            <img class="signclass" src="../../assets/images/sign.png" width="120"><br>
            <br>
            <small class="smalltext">Scan & Pay using Paytm</small>
          </div>
          <div class="border-dashed"></div>
        </div>
        <div class="text-center">
          <div class="col-xs-12 col-sm-12 col-md-12 regAddress">
            <address>
              <strong>
                <h5 class="regTitle">Reg Off-Barbeque Nation Hospitality Ltd</h5>
              </strong>
              <span class="regAddr">Prestige Zeenath, 3rd Floor,</span>
              <br>
              <span class="regAddr">Municipal No. 8/1,Residency Road.</span>
              <br>
              <span class="regAddr">Richmond Town, Bangalore - 560025</span>
              <br>
              <span class="regAddr">Tel :+91-8045113000/ Fax:+91-8045113062</span>
              <br>
              <span class="bold">ST No</span> - AAKCS3053NSD002
              <br>
              <span class="bold">CIN</span>: U55101KA2006PLC073031
              <br>
              <span class="bold">GSTN</span> -27AAKCS3053N1ZW : <span class="bold">SAC No.</span> 996331
              <br>
              <span class="bold">E-Mail</span>: corporate@barbequenation.com
              <br>
              <span class="bold"> www.barbequenation.com </span>

            </address>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 col-sm-1 col-xs-1"></div>
  </div>
</div>
